<header>
    <div class="navbar justify-content-between">
        <div class="container-fluid">
            <div class="navbar-header">
                <a [routerLink]="['/admin/dashboard']"><img src="../assets/images/output-onlinepngtools.png" height="46px"></a>
            </div>
            <ul>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-sm">{{user.email}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                        <li><a href="/settings"> <i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                        <li><a href="/password"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a (click)="logout()"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a [routerLink]="['/admin/dashboard']">
            <img src="/images/logo_white.png"
                height="46px">
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse"
                    data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-mobile-main-toggle">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-mobile-secondary-toggle">
                    <i class="icon-more"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse"
        id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <form class="navbar-form navbar-left"
                id="ajaxMenuLink">
                <input class="form-control input-md-2"
                    placeholder="Search Navigation [Ctrl + Space]"
                    type="search"
                    id="ajaxMenu">
            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="TicketRaise">
                    <i class="icon-ticket"></i>
                    Support
                </a>
            </li>
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle"
                    data-toggle="dropdown">
                    <span>
                        <i class="icon-user"></i>
                    </span>
                    <span class="hidden-sm">
                        {{user.email}}
                    </span>
                    <i class="fa fa-caret-down"
                        aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="/profile">
                            <i class="icon-user"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="/password">
                            <i class="icon-key"></i>
                            Change Password
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a (click)="logout()">
                            <i class="icon-switch2"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div> -->