<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<app-top-navbar></app-top-navbar>

<main class="dashboard-page-styles">
    <div class="page-container" style="min-height:363px">
        <div class="page-content">
            <app-side-navbar></app-side-navbar>
            <app-alert></app-alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</main>