<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <form [formGroup]="resetForm">
            <div class="form-outline">
                <input matInput type="password" id="typeEmail" class="form-control my-3" formControlName="password" />
                <label class="form-label" for="typeEmail">New Password</label>
                <span *ngIf="submitted && resetFrm['password'].errors?.['required']">Password is required</span>
                <span *ngIf="submitted && resetFrm['password'].errors?.['pattern']">Invalid Password</span>
            </div>
            <div class="form-outline">
                <input matInput type="text" id="typeEmail" class="form-control my-3" formControlName="confirmPassword" />
                <label class="form-label" for="typeEmail">Confirm Password</label>
                <span *ngIf="submitted && resetFrm['confirmPassword'].errors?.['required']">Confirm Password is required</span>
                <span *ngIf="submitted && resetFrm['confirmPassword'].errors?.['notSame']">Password and Confirm Password is not same</span>
            </div>
        </form>

        <a class="btn btn-primary w-100" (click)="confirm()">Confirm</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" [routerLink]="['/account/login']">Login</a>
        </div>
    </div>
</div>