<section>



    <div class="container py-5">
        <button type="button" class="btn btn-primary" (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z">
                </path>
            </svg>
        </button>
        <div class="section-heading-block text-center mt-4">
            <img src="../../../assets/images/heading-pattern.png" alt="">
            <h1 class="b text-center mb-4"><b>{{data?.title}}</b></h1>
            <hr>
            <hr>

        </div>


        <!-- <div  class="row justify-content-center">
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Agricultural Develpment Institute – CARDI Logo.jpg">
                    </div>
                    <h6 ><b >CARDI</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Agricultural Health and Food Safety Agency (CAHFSA) Logo.png">
                    </div>
                    <h6 ><b >CAHFSA</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Aviation Safety and Security Oversight System- (CASSOS) Logo.png">
                    </div>
                    <h6 ><b >CASSOS</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Centre for Development Administration (CARICAD) Logo.png">
                    </div>
                    <h6 ><b >CARICAD</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Centre for Renewable Energy and Energy Efficiency (CCREEE)logo.png">
                    </div>
                    <h6 ><b >CCREE</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Community Climate Change Centre (CCCCC) Logo.png">
                    </div>
                    <h6 ><b >CCCCC</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Congress of Labour (CCL) Logo.jpg">
                    </div>
                    <h6 ><b >CCL</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Court of Justice Logo.png">
                    </div>
                    <h6 ><b >CCJ</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Disaster Emergency Management Agency (CDEMA) Logo.jpg">
                    </div>
                    <h6 ><b >CDEMA</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Examination Council (CXC) Logo.jpg">
                    </div>
                    <h6 ><b >CXC</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Institute for Meteorology and Hydrology (CIMH) Logo.jpg">
                    </div>
                    <h6 ><b >CIMH</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Meteorological Organisation (CMO) Logo.jpg">
                    </div>
                    <h6 ><b >CMO</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Organisation of Tax Administrators (COTA) Logo.jpg">
                    </div>
                    <h6 ><b >COTA</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Public Health Agency (CARPHA) Logo.gif">
                    </div>
                    <h6 ><b >CARPHA</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Regional Fisheries Mechanism Logo.png">
                    </div>
                    <h6 ><b >CRFM</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Regional Information and Translation Institute (CRITI) Logo.jpg">
                    </div>
                    <h6 ><b >CRITI</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Telecommunications Union (CTU) Logo.jpg">
                    </div>
                    <h6 ><b >CTU</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARICOM Competition Commission (CCC) Logo.png">
                    </div>
                    <h6 ><b >CCC</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARICOM Development Fund (CDF) logo.jpg">
                    </div>
                    <h6 ><b >CDF</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARICOM Implementing Agency for Crime and Security (IMPACS) Logo.jpg">
                    </div>
                    <h6 ><b >IMPACS</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARICOM Private Sector Organization (CPSO) Logo.jpg">
                    </div>
                    <h6 ><b >CPSO</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARICOM Regional Organisation for Standards and Quality (CROSQ) Logo.jpg">
                    </div>
                    <h6 ><b >CROSQ</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/University of Guyana (UG) Logo.jpg">
                    </div>
                    <h6 ><b >UG</b></h6>
                </div>
            </div>
            <div  class="col-md-2 p-2">
                <div  class="text-center institution-block">
                    <div  class="institution-image"><img  alt=""
                            class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/University of the West Indies (CLE) Logo.png">
                    </div>
                    <h6 ><b >UTWI</b></h6>
                </div>
            </div>
           
        </div> -->

        <section class="grid-columns d-flex flex-column h-100 flags-grid p-4"
            *ngIf="this.data?.has_submenu == 'Yes'; else DisplayContent">
            <div class="row row-cols-5 flex-1" *ngIf="this.id != 11 && this.id != 13">
                <ng-container *ngFor="let submenu of subMenus; let i=index">
                    <div class="col text-center" [ngClass]="{'mt-4': i >= 5}">
                        <div class="grid-column" (click)="parentEventHandlerFunction(submenu)">
                            <img [src]="submenu.file" alt="" class="img-fluid w-100 h-100">
                            <div class="mt-2"><b>{{submenu.title}}</b></div>
                        </div>
                    </div>
                </ng-container>
            </div>


            <!-- <h4 class="mt-5 mb-4">Associate Members</h4>
            <div class="row row-cols-5  flex-1">
                <ng-container *ngFor="let country of countryofcaricom ; let i=index">
                    <div class="col text-center" *ngIf=" i >= 15 && i <= 19">
                        <div class="grid-column" (click)="parentEventHandlerFunctiontwo()">
                            <img src="../../../assets/images/flags/flag{{i+1}}.jpg" alt=""
                                class="img-fluid w-100 h-100">
                            <div class="mt-2"><b>{{country.country}}</b></div>
                        </div>
                    </div>
                </ng-container>
            </div> -->
        </section>
        <div class="row  mt-5 text-center" *ngIf="this.id == 11">
            <ng-container *ngFor="let submenu of subMenus; let i=index">
                <div class="col-md-3 text-center key-date" [ngClass]="{'mt-md-3': i>3}">
                    <div>
                        <b class="d-block"> {{i+1}}. {{submenu.title}}</b>
                    </div>
                    <img [src]="submenu.file" width="250px" class="mx-auto d-block mt-1 mb-3" alt="">
                </div>
            </ng-container>
        </div>


        <div class="row justify-content-center" *ngIf="this.id == 13">
            <ng-container *ngFor="let submenu of subMenus; let i=index">
                <div class="col-md-2 p-2">
                    <div class="text-center institution-block">
                        <div class="institution-image"><img alt="" class="img-fluid" [src]="submenu.file">
                        </div>
                        <h6><b>{{submenu.title}}</b></h6>
                    </div>
                </div>
            </ng-container>
            <div class="text-center mt-5">
                <h2>Associate Institutions</h2>
                <hr>
            </div>
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Development Bank (CDB) Logo.png">
                    </div>
                    <h6><b>CDB</b></h6>
                </div>
            </div><!---->
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/CARIBBEAN LAW INSTITUTE/CARIBBEAN LAW INSTITUTE CENTRE (CLI)/(CLIC)">
                    </div>
                    <h6><b>CLI/CLIC</b></h6>
                </div>
            </div><!---->
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/OECS.png"></div>
                    <h6><b>OECS Commission</b></h6>
                </div>
            </div><!---->
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/uwi-1-640x480.jpg">
                    </div>
                    <h6><b>UWI</b></h6>
                </div>
            </div><!----><!---->
            <div class="text-center mt-5">
                <h2>Institutions with a relationship of Functional Cooperation with CARICOM</h2>
                <hr>
            </div>
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Export Development Agency (Caribbean Export) Logo.jpeg">
                    </div>
                    <h6><b>CARIBBEAN EXPORT</b></h6>
                </div>
            </div><!---->
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Council of Legal Education Logo.png">
                    </div>
                    <h6><b>CLE</b></h6>
                </div>
            </div><!---->
            <div class="col-md-2 p-2">
                <div class="text-center institution-block">
                    <div class="institution-image"><img alt="" class="img-fluid"
                            src="../../../assets/images/caricom-institution-logos/Caribbean Tourism Organization (CTO) Logo.png">
                    </div>
                    <h6><b>CTO</b></h6>
                </div>
            </div>
        </div>

        <!-- <h5 class="mb-3 color-blue-grey text-center"><b>{{data?.title}}</b></h5> -->
        <ng-template #DisplayContent>
            <div [innerHTML]="data?.description"></div>
        </ng-template>


    </div>
</section>