<section>

    <div class="container py-5">
        <div class="section-heading-block text-center mt-4">
            <img src="../../../assets/images/heading-pattern.png" alt="">
            <h1 class="b text-center mb-4"><b>{{data?.title}}</b></h1>
            <hr>
            <hr>

        </div>

        <section class="grid-columns d-flex flex-column h-100 flags-grid p-4" *ngIf="this.data?.has_submenu == 'Yes'; else DisplayContent">
            <div class="row row-cols-5 flex-1">
                <ng-container *ngFor="let submenu of subMenus; let i=index">
                    <div class="col text-center"  [ngClass]="{'mt-4': i >= 5}">
                        <div class="grid-column" (click)="parentEventHandlerFunction(submenu)">
                            <img [src]="submenu.file" alt=""
                                class="img-fluid w-100 h-100">
                            <div class="mt-2"><b>{{submenu.title}}</b></div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- <h4 class="mt-5 mb-4">Associate Members</h4>
            <div class="row row-cols-5  flex-1">
                <ng-container *ngFor="let country of countryofcaricom ; let i=index">
                    <div class="col text-center" *ngIf=" i >= 15 && i <= 19">
                        <div class="grid-column" (click)="parentEventHandlerFunctiontwo()">
                            <img src="../../../assets/images/flags/flag{{i+1}}.jpg" alt=""
                                class="img-fluid w-100 h-100">
                            <div class="mt-2"><b>{{country.country}}</b></div>
                        </div>
                    </div>
                </ng-container>
            </div> -->
        </section>

        <!-- <h5 class="mb-3 color-blue-grey text-center"><b>{{data?.title}}</b></h5> -->
        <ng-template #DisplayContent>
        <div [innerHTML]="data?.description"></div>
        </ng-template>

        
    </div>
</section>