$color_1: #555;
$color_2: #4e65ff;


.menu {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    li {
        list-style: none;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 20px 0;
            font-size: 1em;
            text-decoration: none;
            color: $color_1;

            &:hover {
                color: $color_2;
            }

            ion-icon {
                font-size: 1.5em;
            }
        }
    }
}

.navigation {

    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 60px;
    background: #fff;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 9;
    width: 300px;


    .menuToggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: #555;
            transform: translateY(-10px);
            box-shadow: 0 10px #555;
            transition: 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: #555;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
}

.navigation.active {
    height: max-content;

    .userBx {
        width: calc(100% - 60px);
        transition-delay: 0s;
    }

    .menuToggle {
        &::before {
            transform: translateY(0px) rotate(45deg);
            box-shadow: 0 0 #555;
        }

        &::after {
            transform: translateY(0px) rotate(-45deg);
        }
    }
}

.menu {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    background: white;
    box-shadow: 0 -1px 23px -7px #8080808c;
}

form {

    input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
.modal.show .modal-dialog {
    transform: none;
    width: 100%;
    margin: auto;
    max-width: unset;
    margin: auto;
    padding: 45px;
    border: thin solid rgba(128, 128, 128, 0.4901960784);
    box-shadow: 0 10px 40px rgba(128, 128, 128, 0.3882352941);
}