<div class="search-bar mt-5 p-3 p-lg-1 ps-lg-4">
    <form [formGroup]="searchForm">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-center form-group">
                <input matInput class="form-control border-0 shadow-0" type="text" name="search"
                    placeholder="What are you searching for?">
            </div>
            <div class="col-lg-3 d-flex align-items-center form-group">
                <div class="input-label-absolute input-label-absolute-right w-100">
                    <label class="label-absolute" for="location"><i class="fa fa-crosshairs"></i><span
                            class="sr-only">City</span></label>
                    <input class="form-control border-0 shadow-0" type="text" name="location" placeholder="Location"
                        id="location" [matAutocomplete]="auto" formControlName="location">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngIf="isLocationLoading">
                            <mat-spinner diameter="20">
                            </mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let loc of locations" [value]="loc">
                            {{loc}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center form-group">
                <div class="input-label-absolute input-label-absolute-right w-100">
                    <label class="label-absolute" for="location"><span class="sr-only">City</span></label>
                    <!-- <input class="form-control border-0 shadow-0" type="text" name="date-range"
                        placeholder="Date and Time" id="date-range"> -->
                        <mat-form-field>
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                              <input matStartDate placeholder="Start date">
                              <input matEndDate placeholder="End date">
                            </mat-date-range-input>
                            <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field>
                </div>
            </div>
            <div class="col-lg-2 d-grid">
                <button class="btn btn-primary rounded-pill h-100" type="submit">Search </button>
            </div>
        </div>
    </form>
</div>