
#carouselExampleIndicators {
    .carousel-item {
        img {
            height: 79vh;
        }
    }
}

.tab-content-section {
    position: sticky;
    top: 20px;
}

.dates-list {
    li {
        margin-top: 20px;
    }
}

.genera-sec-card {
    img {
        height: 350px;
        object-fit: cover;
    }
}

.award {
    border: thin solid black;
    margin: 5px;
    padding: 15px;

    b {
        margin-right: 5px;
        white-space: nowrap;
    }

    p {}
}

.imagewidth {

    margin: 50px auto;
    display: flex;
}

.flags-grid {
    .grid-column {

        background-color: #a5ffee;
        position: relative;
        cursor: pointer;
        padding: 10px;

        img {
            height: 150px !important;
            transform: scale(0.9);

        }
        &:hover img{
            transform: scale(1);
        }
    }
}


.institution-block {
    text-align: center;
}

.award {
    border: thin solid black;
    margin: 12px 0;
    padding: 30px;

    img {
        height: 400px;
        object-fit: contain;
        width: max-content;
        margin-bottom: 20px;
        display: flex;
        width: auto !important;
        margin-right: auto;
    }
}
.key-date{
    img{
        height: 160px;
    }
}