<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl mt-md-5" role="document">
    <form [formGroup]="profileForm" (ngSubmit)="submit()" class="w-100">
        <div class="modal-content">
            <div class="modal-header px-1 mb-3">
                <h5 class="modal-title" id="modalTitleId">Profile</h5>
                <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
            </div>

            <div class="border-grey border border-1 p-3">
                <div class="row">
                    <div class="col px-1">
                        <div class="form-field ">
                            <label for="" class="d-block">Name</label>
                            <input formControlName="name" type="text" class="d-block form-control">
                            <span *ngIf="submitted && profileForm.get('name')?.errors?.['required']">Name is
                                required</span>
                        </div>
                    </div>

                    <div class="col px-1">
                        <div class="form-field ">
                            <label for="" class="d-block">Email</label>
                            <input formControlName="email" type="text" class="d-block form-control">
                            <span *ngIf="submitted && profileForm.get('email')?.errors?.['required']">Email is
                                required</span>
                        </div>
                    </div>

                    <div class="col px-1">
                        <div class="form-field ">
                            <label for="" class="d-block">Profile photo</label>
                            <input formControlName="profile" type="file" name="Photo" id="Photo"
                                (change)="handleFileInputProfile($event)" class="d-block form-control">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="d-flex mt-5 justify-content-between">
                    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    <button type="submit" class="btn btn-success ms-2">Submit</button>
                </div>
            </div>
        </div>


    </form>
</div>