<div class="p-3">
    <h6>Pages</h6>
    <div class="container">
        <div class="border-grey border border-1 p-3">
            <!-- <div class="d-flex align-items-end mb-5">
            <button (click)="addUpdate()" class="btn btn-primary">Add</button>
        </div> -->
            <app-table [columns]="columns" [totalPageCount]="totalCount" [dataSource]="pages"
                (paginationEventHandler)="paginationEventHandler($event)"
                (gridEventHandler)="gridEvent($event)"></app-table>
        </div>
    </div>
</div>