<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">

        <div class="sidebar-user">
            <div class="category-content bg-grey-800" style="background-color: #4e3f75;">
                <div class="media">
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{user.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-category sidebar-category-visible">
            <ul class="navigation">
                <li class="active"><a [routerLink]="['/admin/dashboard']" class="has-ul"><i class="fa fa-clipboard"></i>Dashboard
                    
                    </a>
                    <ul class="submenu hidden-ul">
                        <li class="active"><a [routerLink]="['/admin/dashboard']">Default</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/admin/dashboard']" class="has-ul"><i class="fa fa-clipboard"></i> <span
                            class="menu-text">Manage User</span></a>
                </li>
                <li><a [routerLink]="['/admin/companies']" class="has-ul"><i class="fa fa-clipboard"></i> <span
                            class="menu-text">Car Companies</span></a>
                </li>
                <li><a [routerLink]="['/admin/dashboard']" class="has-ul"><i class="fa fa-clipboard"></i> <span
                            class="menu-text">Car Models</span></a>
                </li>
                <li><a [routerLink]="['/admin/dashboard']" class="has-ul"><i class="fa fa-clipboard"></i> <span
                            class="menu-text">Manage Car</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>


