<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 floatingform">

      <p class="text-center h1 fw-bold">Sign up</p>

      <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="submit()">

        <div class="d-flex flex-row align-items-center mb-4">
        
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example1c">Your Name</label>
            <input type="text" id="form3Example1c" class="form-control" formControlName="name" />

          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
        
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example3c">Your Email</label>
            <input type="email" id="form3Example3c" class="form-control" formControlName="email" />

            <span *ngIf="submitted && regForm['email'].errors?.['required']">Email is required</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
        
          <div class="form-outline flex-fill mb-0">

            <label class="form-label" for="form3Example4c">Password</label>
            <input type="password" id="form3Example4c" class="form-control" formControlName="password"
              (change)="setConfirmPwdValidator()" />

            <span *ngIf="submitted && regForm['password'].errors?.['required']">Password is required</span>
            <span *ngIf="submitted && regForm['password'].errors?.['pattern']">Invalid Password</span>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
       
          <div class="form-outline flex-fill mb-0">
            <label class="form-label" for="form3Example4cd">Repeat your password</label>
            <input type="password" id="form3Example4cd" class="form-control" formControlName="confirmPassword" />

            <span *ngIf="submitted && regForm['confirmPassword'].errors?.['required']">Confirm Password is
              required</span>
            <span *ngIf="submitted && regForm['confirmPassword'].errors?.['notSame']">Password and Confirm Password is
              not same</span>
          </div>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </div>

      </form>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Already a member? <a routerLink="/account/login">Login</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </div>
  </div>
</div>