<!--Main Navigation-->
<app-header></app-header>
<app-search-bar></app-search-bar>

<div id="intro" class="bg-image shadow-1-strong">
    <div class="mask h-100 text-white">
        <div id="carouselExampleIndicators" class="carousel slide h-100">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner h-100">
                <div class="carousel-item h-100 active">
                    <img src="../assets/images/slide_2.jpg" class="w-100" alt="">
                    <div class="container d-flex h-100 align-items-center">

                        <div class="row w-100 ">
                            <div class="col-md-7">

                            </div>
                            <div class="col-md-5">
                                <div class="text-white">
                                    <h1 class="heading mb-0">Shortlease</h1>
                                    <h3 class="subheading mb-3">Make your Trip Relishable</h3>
                                    <!-- <a class="btn btn-outline-light btn-lg button-blue" href="#!" role="button">See the promotional
                        offer
                        <i class="fas fa-gem ms-1"></i>
                      </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100 ">
                    <img src="../assets/images/bmw-m2-f87-blue-wallpaper.jpg" class="w-100" alt="">
                    <div class="container d-flex align-items-center h-100">
                        <div class="row w-100">
                            <div class="col-md-7">

                            </div>
                            <div class="col-md-5">
                                <div class="text-white">
                                    <h1 class="heading mb-0">Shortlease</h1>
                                    <h3 class="subheading mb-3">Make your Trip Relishable</h3>
                                    <!-- <a class="btn btn-outline-light btn-lg button-blue" href="#!" role="button">See the promotional
                        offer
                        <i class="fas fa-gem ms-1"></i>
                      </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mt-md-5 browsebymake">

    <div class="container">
        <div class="section-heading text-center mt-md-5">
            Find your drive
        </div>
        <div class="section-subheading text-center mb-5">
            Explore the world's largest car sharing marketplace
        </div>
        <b class="fs-4 d-block section-subheading">Browse by Make</b>

        <div id="owl-demo-2" class="owl-carousel owl-theme py-3">


            <ng-container *ngFor="let vehicleModel of vehicleModels">
                <app-card [cardsData]="vehicleModel"></app-card>
            </ng-container>



        </div>
    </div>
</section>
<section class="image-text mt-md-5">
    <div class="container">
        <div class="row justify-content-center py-md-5">
            <div class="col-md-5">
                <img src="../assets/images/Group19625424.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-5">
                <div class="subheading  fs-3 mb-3">
                    Find the perfect car <span class="text-red">to unwind for the weekend</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil blanditiis illo veritatis sed saepe
                    corrupti
                    nesciunt quas porro suscipit sequi quia, consequatur, quibusdam minus itaque, facilis alias
                    necessitatibus!
                    Quas, vero?.</p>
                <a class="btn btn-outline-light btn-lg button-blue" href="/productpage.html" role="button"> Browse all
                    cars
                </a>

            </div>
        </div>
    </div>
</section>
<section class="mt-md-5 Browse by destination">
    <div class="container">
        <b class="fs-4 d-block section-subheading">Browse by destination</b>
        <div id="location-owl-carousel" class="owl-carousel owl-theme py-3">


            <ng-container *ngFor="let location of locations">
                <app-card [cardsData]="location"></app-card>
            </ng-container>
            

        </div><!-- #owl-demo-2 -->
    </div><!-- .container -->
</section>
<div class="text-center">
    <div class="section-heading text-center mt-md-5">
        Meet the hosts
    </div>
</div>
<section class="hosts">
    <div class="container">
        <img src="https://unused-css.com/tools/clip-path-generator?p=22IwJgXCCsA0DskRgDgGxgMwBYB09qrDykJlDBR2AE4BuOgYgDMlnmg"
            alt="">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <div class="text-block">
                    <div class="subheading  fs-3 mb-3">
                        Hire an automobile
                    </div>
                    <p> With Flexible Bookings and No Hidden Fees Car hire is worthwhile</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../assets/images/output-onlinegiftools(2).gif" alt="" width="400px">
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <img src="../assets/images/output-onlinegiftools.gif" alt="" width="400px" class="movingcar">
            </div>
            <div class="col-md-4 ms-5">
                <div class="text-block">
                    <div class="subheading  fs-3 mb-3">
                        Become a host
                    </div>
                    <p>Car hire is worthwhile for extra freedom with time and destinations</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>