
<div class="other-page-sections">
    <section class="grid-columns section-grid-columns" id="grid-columns">
        <div class="container pb-md-5 pt-md-4">
            <div class="row mt-4">
                <div class="col-md-3" *ngFor="let grid of gridData">
                    <div class="grid-column text-center overflow-hidden">
                        <img [src]="grid.file" alt=""
                            class="img-fluid w-75 h-100">
                        <div class="grid-inner text-center mt-3">
                            <h5>{{grid.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="know-your-caribbean mt-5">
        <div class="csstext">
            KNOW YOUR <span>CARIBBEAN</span></div>
    </section>
    <section class="blog py-5">
        <div class="container">
            <div class="section-title mb-3">
                <div class="title">
                    <strong>Our</strong>
                    <div class="ms-3">Blog</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 left-column">
                    <div class="blog-card h-100">
                        <img src="../../../assets/images/Mineria.png" class="d-block h-100 w-100" alt="">
                        <div class="blog-text">
                            <div class="blog-date">
                                July 10,23
                            </div>
                            <div class="blog-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eaque.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 right-column">
                    <div class="blog-card">
                        <img src="../../../assets/images/1280px-posing-at-2018-toronto-caribbean-carnival-28969518847.jpg"
                            class="d-block w-100" alt="">
                        <div class="blog-text">
                            <div class="blog-date">
                                July 10,23
                            </div>
                            <div class="blog-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eaque.
                            </div>
                        </div>
                    </div>
                    <div class="blog-card">
                        <img src="../../../assets/images/106935611-1630430761116-gabri.jpg" class="d-block w-100"
                            alt="">
                        <div class="blog-text">
                            <div class="blog-date">
                                July 10,23
                            </div>
                            <div class="blog-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eaque.
                            </div>
                        </div>
                    </div>
                    <div class="blog-card">
                        <img src="../../../assets/images/kid.jpg" class="d-block w-100" alt="">
                        <div class="blog-text">
                            <div class="blog-date">
                                July 10,23
                            </div>
                            <div class="blog-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eaque.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="theme-button">
            Explore more
        </button>
    </section>
</div>
<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-lg-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.png" alt="" width="250px"></a>

                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor
                                incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consec tetur adipisicing
                                elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consec tetur adipisicing
                                elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-start">
                    <div class="footer-social-icon">
                        <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                        <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 text-center text-lg-end">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a href="#">me</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>