<div class="container">
    <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
        <input matSliderThumb>
    </mat-slider>


    <div class="searchFilterPopupDesktop is-rightAligned is-scrollable" style="height: 500px; width: 600px;">
        <div class="searchFilterPopupDesktop-closeButton"><button type="button" class="css-19jk1h8"><span
                    aria-hidden="true" title="Close" class="css-3t8yh6"></span><span
                    class="css-225x9j">Close</span></button></div>
        <div class="searchFilterPopupDesktop-bodyMask"></div>
        <div class="searchFilterPopupDesktop-body">
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Distance included</div>
                <div class="sliderField"><span class="sliderField-label">100mi/day and more</span>
                    <div>
                        <div class="rc-slider">
                            <div class="rc-slider-rail"></div>
                            <div class="rc-slider-track" style="left: 0%; right: auto; width: 0%;"></div>
                            <div class="rc-slider-step"></div>
                            <div tabindex="0" class="rc-slider-handle" role="slider" aria-valuemin="100"
                                aria-valuemax="500" aria-valuenow="100" aria-disabled="false"
                                style="left: 0%; right: auto; transform: translateX(-50%);"></div>
                            <div class="rc-slider-mark"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">All-Star Host</div><label class="css-18inzc7-CheckboxFieldLabel"
                    for="allStarHost" tabindex="0"><input id="allStarHost" name="allStarHost" type="checkbox"
                        class="css-l61fs8-CheckboxFieldInput" value="false"><span>Top-rated, experienced
                        hosts</span></label>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Deluxe Class</div><label class="css-18inzc7-CheckboxFieldLabel"
                    for="deluxeClass" tabindex="0"><input id="deluxeClass" name="deluxeClass" type="checkbox"
                        class="css-l61fs8-CheckboxFieldInput" value="false"><span>Exclusive cars for guests ages
                        25+</span></label>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Super Deluxe Class</div><label
                    class="css-18inzc7-CheckboxFieldLabel" for="superDeluxeClass" tabindex="0"><input
                        id="superDeluxeClass" name="superDeluxeClass" type="checkbox"
                        class="css-l61fs8-CheckboxFieldInput" value="false"><span>Super exclusive cars for guests ages
                        30+</span></label>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Features</div>
                <div class="imageMultiSelectField">
                    <div class="imageMultiSelectField-toggle" role="button" tabindex="-1"><span
                            class="imageMultiSelectField-selection">- Select -</span></div>
                </div>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Green Vehicles</div>
                <div class="imageMultiSelectField">
                    <div class="imageMultiSelectField-toggle" role="button" tabindex="-1"><span
                            class="imageMultiSelectField-selection">- Select -</span></div>
                </div>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Vehicle types</div>
                <div class="imageMultiSelectField">
                    <div class="imageMultiSelectField-toggle" role="button" tabindex="-1"><span
                            class="imageMultiSelectField-selection">- Select -</span></div>
                </div>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Vehicle makes</div><span
                    class="css-3d6jai-SelectFieldWrapper"><select id="makes" name="makes"
                        class="css-1fk6qc9-SelectFieldSelect">
                        <option value="">- Select -</option>
                        <option value="AM General">AM General</option>
                        <option value="Acura">Acura</option>
                        <option value="Alfa-Romeo">Alfa-Romeo</option>
                        <option value="Aston Martin">Aston Martin</option>
                        <option value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Bentley">Bentley</option>
                        <option value="Buick">Buick</option>
                        <option value="Cadillac">Cadillac</option>
                        <option value="Can-Am">Can-Am</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="Chrysler">Chrysler</option>
                        <option value="Delorean">Delorean</option>
                        <option value="Dodge">Dodge</option>
                        <option value="Ferrari">Ferrari</option>
                        <option value="Fiat">Fiat</option>
                        <option value="Fisker">Fisker</option>
                        <option value="Ford">Ford</option>
                        <option value="Freightliner">Freightliner</option>
                        <option value="GMC">GMC</option>
                        <option value="Genesis">Genesis</option>
                        <option value="Honda">Honda</option>
                        <option value="Hummer">Hummer</option>
                        <option value="Hyundai">Hyundai</option>
                        <option value="Infiniti">Infiniti</option>
                        <option value="Jaguar">Jaguar</option>
                        <option value="Jeep">Jeep</option>
                        <option value="Karma">Karma</option>
                        <option value="Kia">Kia</option>
                        <option value="Lamborghini">Lamborghini</option>
                        <option value="Land Rover">Land Rover</option>
                        <option value="Lexus">Lexus</option>
                        <option value="Lincoln">Lincoln</option>
                        <option value="Lotus">Lotus</option>
                        <option value="Lucid">Lucid</option>
                        <option value="Maserati">Maserati</option>
                        <option value="Mazda">Mazda</option>
                        <option value="Mclaren">Mclaren</option>
                        <option value="Mercedes-Benz">Mercedes-Benz</option>
                        <option value="Mercury">Mercury</option>
                        <option value="Mini">Mini</option>
                        <option value="Mitsubishi">Mitsubishi</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Oldsmobile">Oldsmobile</option>
                        <option value="Polaris">Polaris</option>
                        <option value="Polestar">Polestar</option>
                        <option value="Pontiac">Pontiac</option>
                        <option value="Porsche">Porsche</option>
                        <option value="Ram">Ram</option>
                        <option value="Rivian">Rivian</option>
                        <option value="Rolls-Royce">Rolls-Royce</option>
                        <option value="Saab">Saab</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Scion">Scion</option>
                        <option value="Smart">Smart</option>
                        <option value="Subaru">Subaru</option>
                        <option value="Suzuki">Suzuki</option>
                        <option value="Tesla">Tesla</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Vanderhall">Vanderhall</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Volvo">Volvo</option>
                        <option value="Zap">Zap</option>
                    </select><span class="css-1vgkp5b-SelectFieldValue"
                        data-testid="selectField-currentOptionLabel-makes">- Select -</span>
                    <div class="css-1w2ewf9-SelectFieldPostFixContainer"><span class="css-151jh3h-SelectFieldSpan"><svg
                                width="16px" height="16px" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-1o6k71p" role="img" version="1.1">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14 5.614a.75.75 0 0 1-.245.555l-5.25 4.773a.754.754 0 0 1-1.01 0l-5.25-4.773a.75.75 0 0 1 1.01-1.11L8 9.373l4.745-4.314A.75.75 0 0 1 14 5.614Z"
                                    fill="#121214"></path>
                            </svg></span></div>
                </span>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Vehicle years</div>
                <div class="rangeSliderField"><span class="rangeSliderField-label">All years</span>
                    <div>
                        <div class="rc-slider">
                            <div class="rc-slider-rail"></div>
                            <div class="rc-slider-track rc-slider-track-1" style="left: 0%; right: auto; width: 100%;">
                            </div>
                            <div class="rc-slider-step"></div>
                            <div tabindex="0" class="rc-slider-handle rc-slider-handle-1" role="slider"
                                aria-valuemin="1950" aria-valuemax="2024" aria-valuenow="1950" aria-disabled="false"
                                style="left: 0%; right: auto; transform: translateX(-50%);"></div>
                            <div tabindex="0" class="rc-slider-handle rc-slider-handle-2" role="slider"
                                aria-valuemin="1950" aria-valuemax="2024" aria-valuenow="2024" aria-disabled="false"
                                style="left: 100%; right: auto; transform: translateX(-50%);"></div>
                            <div class="rc-slider-mark"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Number of seats</div><span
                    class="css-3d6jai-SelectFieldWrapper"><select id="minimumSeatCount" name="minimumSeatCount"
                        class="css-1fk6qc9-SelectFieldSelect">
                        <option value="">- Select -</option>
                        <option value="4">4 or more</option>
                        <option value="5">5 or more</option>
                        <option value="6">6 or more</option>
                        <option value="7">7 or more</option>
                        <option value="8">8 or more</option>
                    </select><span class="css-1vgkp5b-SelectFieldValue"
                        data-testid="selectField-currentOptionLabel-minimumSeatCount">- Select -</span>
                    <div class="css-1w2ewf9-SelectFieldPostFixContainer"><span class="css-151jh3h-SelectFieldSpan"><svg
                                width="16px" height="16px" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-1o6k71p" role="img" version="1.1">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14 5.614a.75.75 0 0 1-.245.555l-5.25 4.773a.754.754 0 0 1-1.01 0l-5.25-4.773a.75.75 0 0 1 1.01-1.11L8 9.373l4.745-4.314A.75.75 0 0 1 14 5.614Z"
                                    fill="#121214"></path>
                            </svg></span></div>
                </span>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Category</div><span class="css-3d6jai-SelectFieldWrapper"><select
                        id="category" name="category" class="css-1fk6qc9-SelectFieldSelect">
                        <option value="">- Select -</option>
                        <option value="ALL">All cars</option>
                        <option value="AFFORDABLE">Everyday drivers</option>
                        <option value="PREMIUM">Upscale</option>
                        <option value="SPORTY_SPINS">Fast and fun</option>
                        <option value="OUTDOOR_ADVENTURE">Backroads-ready</option>
                        <option value="FAMILY_FRIENDLY">Family friendly</option>
                        <option value="FUN_IN_THE_SUN">Convertibles</option>
                        <option value="FUEL_SIPPER">Fuel sippers</option>
                        <option value="NEW_CAR_SMELL">Latest models</option>
                        <option value="UPSCALE_PREMIUM">Elite</option>
                    </select><span class="css-1vgkp5b-SelectFieldValue"
                        data-testid="selectField-currentOptionLabel-category">- Select -</span>
                    <div class="css-1w2ewf9-SelectFieldPostFixContainer"><span class="css-151jh3h-SelectFieldSpan"><svg
                                width="16px" height="16px" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-1o6k71p" role="img" version="1.1">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14 5.614a.75.75 0 0 1-.245.555l-5.25 4.773a.754.754 0 0 1-1.01 0l-5.25-4.773a.75.75 0 0 1 1.01-1.11L8 9.373l4.745-4.314A.75.75 0 0 1 14 5.614Z"
                                    fill="#121214"></path>
                            </svg></span></div>
                </span>
            </div>
            <div class="searchFilterFieldWrapper">
                <div class="css-14a9lza-StyledText">Transmission</div><span
                    class="css-3d6jai-SelectFieldWrapper"><select id="automaticTransmission"
                        name="automaticTransmission" class="css-1fk6qc9-SelectFieldSelect">
                        <option value="">- Select -</option>
                        <option value="false">Manual</option>
                        <option value="true">Automatic</option>
                    </select><span class="css-1vgkp5b-SelectFieldValue"
                        data-testid="selectField-currentOptionLabel-automaticTransmission">- Select -</span>
                    <div class="css-1w2ewf9-SelectFieldPostFixContainer"><span class="css-151jh3h-SelectFieldSpan"><svg
                                width="16px" height="16px" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="css-1o6k71p" role="img" version="1.1">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14 5.614a.75.75 0 0 1-.245.555l-5.25 4.773a.754.754 0 0 1-1.01 0l-5.25-4.773a.75.75 0 0 1 1.01-1.11L8 9.373l4.745-4.314A.75.75 0 0 1 14 5.614Z"
                                    fill="#121214"></path>
                            </svg></span></div>
                </span>
            </div>
        </div>
        <div class="searchFilterPopupDesktop-footer"><button
                class="buttonSchumi buttonSchumi--medium buttonSchumi--purple searchFilterPopupDesktop-submitButton"
                data-testid="searchFilterPopupDesktop-submitButton" type="button">View 200+ results</button></div>
    </div>


    <div class="grid-container">
        <ng-container *ngFor="let vehicleModel of vehicleModels">

            <app-car-details-card [cardsData]="vehicleModel"
                (clickCard)="parentEventHandlerFunction($event)"></app-car-details-card>

        </ng-container>
    </div>
</div>