
    <ul class="nav vertical-navbar h-100 ms-auto mb-2 mb-lg-0 flex-column nav-tabs" id="myTab" role="tablist">

        <!-- <ng-container *ngFor="let tab of tabsoftabs; let i=index">
            <li class="nav-item" role="presentation" *ngIf=" i==0 || (i >= low && i <= high)"
                (click)="showothertabs(i)">
                <button class="nav-link" [ngClass]="{'active': i == 0 }" id="{{tab.tab}}-tab"
                    data-bs-toggle="tab" attr.data-bs-target="#{{tab.tab}}-tab-pane" type="button" role="tab"
                    attr.aria-controls="{{tab.tab}}-tab-pane" aria-selected="true">{{tab.tabtitle}}</button>
            </li>
        </ng-container> -->


        <ng-container *ngFor="let tab of tabsoftabs; let i=index">
            <li class="nav-item" role="presentation" (click)="hidesidebar(tab)">
                <button class="nav-link" [ngClass]="{'active': i == 0 }" id="{{tab.id}}-tab"
                    data-bs-toggle="tab" attr.data-bs-target="#{{tab.id}}-tab-pane" type="button" role="tab"
                    attr.aria-controls="{{tab.id}}-tab-pane" aria-selected="true">{{tab.title}}</button>
            </li>
        </ng-container>

    </ul>

