<div class="pb-md-5">
    <div class="backgrounbanner">
        <div class="container">
            <!-- <ul class="" id="contenttab" role="tablist">
                <ng-container *ngFor="let tab of tabdetails; let i=index">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" [ngClass]="i==0 ? 'active' : ''" id="tab{{i+1}}" data-bs-toggle="tab"
                            [attr.data-bs-target]='"#profile"+(i+1)' type="button" role="tab"
                            [attr.aria-controls]='"profile"+(i+1)' aria-selected="true">{{tab | uppercase}}</button>
                    </li>
                </ng-container>
            </ul> -->
        </div>
    </div>
    <div class="about-details">
        <div class="container">
            <!-- Nav tabs -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="profile1" role="tabpanel" aria-labelledby="tab1">
                    <div class="section-heading-block text-center mt-5">
                        <img src="../../../assets/images/heading-pattern.png" alt="">
                        <h1 class="b text-center mb-4"><b>ANGUILLA</b></h1>
                        <hr>
                        <hr>

                    </div>
                    <div class="row mt-md-5">






                        <div class="col-md-4">
                            <div class="profile-image">
                                <img src="../../../assets/images/ANGUILLA-leader.jpeg"
                                    alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-5 offset-1">
                            <h6 class="lead-text text-uppercase">Head of Government:</h6>
                            <h4 class="head-title">The Hon. Dr Ellis Webster Premier</h4>
                            <hr class="bg-blue d-block">

                            <b class="border-bottom pb-1 mb-3 d-inline-block">Persoal Details</b>
                            <ul>
                                <li>Date of Birth: 9 February 1967</li>
                                <li>Marital Status: Married</li>
                            </ul>
                            <br>
                            <b class="border-bottom pb-1 mb-3 d-inline-block">Education</b>
                            <ul>
                                <li> University of Iowa, Otolaryngology</li>
                                <li> Yale University School of Medicine</li>
                                <li> Yale University, MSc Biology</li>
                                <li> University of the Virgin Islands, BSC Biology</li>

                            </ul>
                            <br>
                            <b class="border-bottom pb-1 mb-3 d-inline-block">Professional/Political Career</b>
                            <ul>
                                <li> 2020: Elected Premier</li>
                                <li> 2014: Elected Leader of the Anguilla United Movement</li>
                                <li><b>Head of State:</b> Her Majesty Queen Elizabeth II</li>
                                <li><b>Representative of the Queen:</b>Governor Dileeni Daniel-Selvaratnam</li>
                                <li><b>Elections:</b> Last elections - 2020</li>
                                <li>Next elections - 2025</li>

                                <li><b>Ruling Party:</b> Anguilla United Movement (AUM)</li>
                                <li><b>Major Political Parties:</b>
                                    Anguilla United Front (AUF)
                                    Anguilla United Movement (AUM)</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>