select,
input {
    word-wrap: normal;
    height: 35px;
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 5px;
}

.col-md-2 {
    margin-bottom: 20px;
}

input[type=radio],
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    height: unset !important;
    width: unset !important;
}

.custom-label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #969696;
}