<!-- <div class="content-wrapper">
	<div class="page-header page-header-default">
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li>
					<span class="text-bold">Dashboard</span>
					<span class="tiny"></span>
				</li>
			</ul>
			<ul class="breadcrumb-elements">
				<li>
					<a href="/audit/dashboard" class="Popup">
						<i class="icon-info3"></i>
						Audit Logs
					</a>
				</li>
				<li>
					<a href="/docs/dashboard" class="Popup">
						<i class="icon-help position-left"></i>
						Help
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content">





		<table class="table table-bordered table-striped table-hover table-rowselect" id="List">
			<thead>
				<tr>
					<th width="24px">Sr</th>
					<th>Project Id</th>
					<th>Code</th>
					<th>Name</th>
					<th>Client</th>
					<th>Active</th>
				</tr>
			</thead>







			<tbody>
				<tr>
					<td>1</td>








					<td class="text">#PROJ30</td>







					<td class="Text">AD.Exim</td>







					<td class="Text">
						<a href="#">data</a>
					</td>







					<td class="Text">Logistics Limited</td>







					<td class="Text">
						<span class="label label-default label-success">Yes</span>
					</td>
				</tr>








			</tbody>
		</table>





		<div class="panel panel-default border-grey">
			<div class="panel-heading">
				<h3 class="panel-title text-light">
					<a href="/project_management/Projects">
						<i class="icon icon-circle-left2"></i>
					</a>
					Projects
					<a class="heading-elements-toggle">
						<i class="icon-more"></i>
					</a>
				</h3>
				<div class="heading-elements">
					<div class="heading-btn">
						<a href="/project_management/Projects/0" class="btn btn-xs btn-info btn-labeled">
							<b>
								<i class="fa fa-plus" aria-hidden="true"></i>
							</b>
							Add
						</a>
					</div>
				</div>
			</div>



			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">
								Code
								<i class="fa fa-asterisk text-size-small text-danger" aria-hidden="true"></i>
							</label>
							<input type="text" id="code" name="code" value class="form-control">
						</div>
					</div>




					<div class="col-md-9">
						<div class="form-group">
							<label class="control-label">
								Name
								<i class="fa fa-asterisk text-size-small text-danger" aria-hidden="true"></i>



							</label>
							<input type="text" id="name" name="name" value class="form-control">
						</div>
					</div>
				</div>




				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label class="control-label">
								Client
								<i class="fa fa-asterisk text-size-small text-danger" aria-hidden="true"></i>



							</label>
							<input type="hidden" id="client_id" name="client_id" value="0" class="form-control">
							<span class="twitter-typeahead"
								style="position: relative; display: inline-block; direction: ltr;">
								<input type="text" id="client_name" name="client_name" value
									class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto"
									style="position: relative; vertical-align: top;">
								<pre aria-hidden="true"
									style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
								<span class="tt-dropdown-menu"
									style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
									<div class="tt-dataset-tt_client"></div>
								</span>
							</span>
						</div>
					</div>




					<div class="col-md-2">
						<div class="form-group">
							<label class="control-label">Meeting Counter</label>
							<input type="text" id="starting_counter" name="starting_counter" value="0"
								class="form-control">
						</div>
					</div>




					<div class="col-md-2">
						<div class="form-group">
							<label class="control-label">Active</label>
							<select id="is_active" name="is_active" class="form-control">
								<option value="No">No</option>
								<option selected="selected" value="Yes">
									Yes
								</option>
							</select>
						</div>
					</div>
				</div>




				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Client Lead
								<i class="fa fa-asterisk text-size-small text-danger" aria-hidden="true"></i>



							</label>
							<input type="hidden" id="lead_type" name="lead_type" value class="form-control">
							<input type="hidden" id="lead_client_contact_id" name="lead_client_contact_id" value="0"
								class="form-control">
							<span class="twitter-typeahead"
								style="position: relative; display: inline-block; direction: ltr;">
								<input type="text" id="lead_client_contact_name" name="lead_client_contact_name" value
									class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto"
									style="position: relative; vertical-align: top;">
								<pre aria-hidden="true"
									style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
								<span class="tt-dropdown-menu"
									style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
									<div class="tt-dataset-tt_user"></div>
								</span>
							</span>
						</div>
					</div>




					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								EZR Lead
								<i class="fa fa-asterisk text-size-small text-danger" aria-hidden="true"></i>



							</label>
							<input type="hidden" id="lead_employee_id" name="lead_employee_id" value="0"
								class="form-control">
							<span class="twitter-typeahead"
								style="position: relative; display: inline-block; direction: ltr;">
								<input type="text" id="lead_employee_name" name="lead_employee_name" value
									class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto"
									style="position: relative; vertical-align: top;">
								<pre aria-hidden="true"
									style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
								<span class="tt-dropdown-menu"
									style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
									<div class="tt-dataset-tt_lead_emp"></div>
								</span>
							</span>
						</div>
					</div>
				</div>




				<div class="form-group">
					<label class="control-label">
						Points of Contact/Team Leads
					</label>
					<select name="point_of_contact[]" class="form-control Selectize selectized" multiple="multiple"
						tabindex="-1" style="display: none;"></select>
					<div class="selectize-control form-control Selectize multi plugin-remove_button">
						<div class="selectize-input items not-full has-options">
							<input type="text" autocomplete="off" tabindex style="width: 4px;">
						</div>
						<div class="selectize-dropdown form-control Selectize multi plugin-remove_button"
							style="display: none;">
							<div class="selectize-dropdown-content"></div>
						</div>
					</div>
				</div>




				<div class="form-group">
					<label class="control-label">
						Assigned To
						<span class="text-size-small text-orange">
							(Note: only visible to selected users)
						</span>
					</label>
					<select name="assigned_to[]" class="form-control Selectize selectized" multiple="multiple"
						tabindex="-1" style="display: none;"></select>
					<div class="selectize-control form-control Selectize multi plugin-remove_button">
						<div class="selectize-input items not-full has-options">
							<input type="text" autocomplete="off" tabindex style="width: 4px;">
						</div>
						<div class="selectize-dropdown form-control Selectize multi plugin-remove_button"
							style="display: none;">
							<div class="selectize-dropdown-content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a class="heading-elements-toggle">
					<i class="icon-more"></i>
				</a>
				<div class="heading-elements">
					<div class="heading-btn">
						<a data-toggle="modal" class="btn btn-success btn-labeled" href="#modal-update">
							<b>
								<i class="fa fa-floppy-o" aria-hidden="true"></i>
							</b>
							Update
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


<div class="content-wrapper">

	<div class="page-header page-header-default">
		<div class="breadcrumb-line"><a class="breadcrumb-elements-toggle"></a>
			<ul class="breadcrumb">
				<li><span class="text-bold">Dashboard</span>
					<span class="tiny"></span>
				</li>
			</ul>

			<ul class="breadcrumb-elements">
				<li><a href="/audit/dashboard" class="Popup"> <i class="fa fa-info"
							aria-hidden="true"></i> Audit Logs</a>
				</li>
				<li><a href="/docs/dashboard" class="Popup"> <i class="fa fa-h-square"
							aria-hidden="true"></i>
						Help</a></li>
			</ul>
		</div>
	</div>

	<div class="content">
	</div>
</div>