<div class="container">
    <div class="border-grey border border-1 p-3">
        <div class="d-flex align-items-end justify-content-between mb-5">

            <div class="form-field ">
                <label for="" class="d-block">Search</label>
                <input type="text" name="search" id="search" [(ngModel)]="searchText" placeholder="search"
                    class="form-control" (change)="getAllCompanies()">
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId">Add
            </button>
        </div>



        <app-table [columns]="columns" [totalPageCount]="totalCount" [dataSource]="companies"
            (paginationEventHandler)="paginationEventHandler($event)"
            (gridEventHandler)="gridEvent($event)"></app-table>



        <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
                <form [formGroup]="carCompanyForm" (ngSubmit)="addNewCompany()" class="w-100">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Add New Company</h5>
                            <button type="button" class="btn-close" #modalBtn data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="border-grey border border-1 my-5 p-3">



                                <div class="row">
                                    <div class="col mt-3 px-1">
                                        <div class="form-field ">
                                            <label for="" class="d-block">Car Company Name</label>
                                            <input formControlName="carCompany" type="text" class="d-block">
                                            <span
                                                *ngIf="submitted && carCompanyForm.get('carCompany')?.errors?.['required']">Car
                                                company name is required</span>
                                        </div>
                                    </div>

                                    <div class="col mt-3 px-1">
                                        <div class="form-field ">
                                            <label for="" class="d-block">Car photo</label>
                                            <input formControlName="Profile" type="file" name="carPhoto" id="carPhoto"
                                                (change)="handleFileInputProfile($event)">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </div>
</div>