<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input matInput type="password" id="form2Example1" class="form-control" formControlName="oldPassword" />
      <label class="form-label" for="form2Example1">Old Password</label>
      <span *ngIf="submitted && passFrm['oldPassword'].errors?.['required']">Old Password is required</span>
    </div>

    <div class="form-outline mb-4">
      <input matInput type="email" id="form2Example1" class="form-control" formControlName="password" />
      <label class="form-label" for="form2Example1">New Password</label>
      <span *ngIf="submitted && passFrm['password'].errors?.['required']">New Password is required</span>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input matInput type="password" id="form2Example2" class="form-control" formControlName="confirmPassword" />
      <label class="form-label" for="form2Example2">Confirm Password</label>
      <span *ngIf="submitted && passFrm['confirmPassword'].errors?.['required']">Confirm Password is required</span>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
  
  </form>