<div data-testid="template">
            <style data-emotion="seo-pages azjghx">
                .seo-pages-azjghx {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    /* background-image: url('//resources.turo.com/f/81934/768x320/979718950c/hero-s.jpg'); */
                    -webkit-background-position: 0 0;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    background-position-x: 70%;
                    -webkit-background-size: cover;
                    background-size: cover;
                    height: 320px;
                    padding-top: 48px;
                }

                @media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3/1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
                    .seo-pages-azjghx {
                        /* background-image:url('//resources.turo.com/f/81934/1536x640/7962eda09f/hero-s-2x.jpg'); */
                    }
                }

                @media (min-width: 768px) {
                    .seo-pages-azjghx {
                        /* background-image:url(//resources.turo.com/f/81934/992x600/fb2053c77f/hero-m.jpg); */
                        background-position-x: 50%;
                        height: 600px;
                    }
                }

                @media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 1.3),only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 1.3/1),only screen and (min-width: 768px) and (min-resolution: 125dpi),only screen and (min-width: 768px) and (min-resolution: 1.3dppx) {
                    .seo-pages-azjghx {
                        /* background-image:url('//resources.turo.com/f/81934/1984x1200/2c2c5834a3/hero-m-2x.jpg'); */
                    }
                }

                @media (min-width: 992px) {
                    .seo-pages-azjghx {
                        /* background-image:url(//resources.turo.com/f/81934/1984x1200/96983e3432/hero-m-2x-min.jpeg); */
                        background-position-x: 50%;
                    }
                }

                @media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min-width: 992px) and (min--moz-device-pixel-ratio: 1.3),only screen and (min-width: 992px) and (-o-min-device-pixel-ratio: 1.3/1),only screen and (min-width: 992px) and (min-resolution: 125dpi),only screen and (min-width: 992px) and (min-resolution: 1.3dppx) {
                    .seo-pages-azjghx {
                        /* background-image:url('//resources.turo.com/f/81934/3000x1200/07573a62f8/hero-xl-2x-min.jpeg'); */
                    }
                }
            </style>
            <div class="seo-pages-azjghx e16c753r0" [ngStyle]="{'background-image': this.data?.bannerImg ? 'url(data:'+ this.data.bannerImg.contentType + ';base64,'+ this.data.bannerImg.imageBase64 + ')' : ''}">
                <style data-emotion="seo-pages 18gg0zj">
                    .seo-pages-18gg0zj {
                        padding-left: 10px;
                        padding-right: 10px;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    @media (min-width: 768px) {
                        .seo-pages-18gg0zj {
                            margin-left:auto;
                            margin-right: auto;
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 750px;
                        }
                    }

                    @media (min-width: 992px) {
                        .seo-pages-18gg0zj {
                            padding-left:0;
                            padding-right: 0;
                            width: 940px;
                        }
                    }

                    @media (min-width: 1200px) {
                        .seo-pages-18gg0zj {
                            width:940px;
                        }
                    }
                </style>
                <div class="seo-pages-18gg0zj e1u7lfr20">
                    <style data-emotion="seo-pages jzu26b">
                        .seo-pages-jzu26b {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-flex: 0 1 auto;
                            -ms-flex: 0 1 auto;
                            flex: 0 1 auto;
                            -webkit-box-flex-flow: row wrap;
                            -webkit-flex-flow: row wrap;
                            -ms-flex-flow: row wrap;
                            flex-flow: row wrap;
                            margin-left: -10px;
                            margin-right: -10px;
                        }
                    </style>
                    <div class="efavf900 seo-pages-jzu26b e1yh22tr0" data-testid="row">
                        <style data-emotion="seo-pages mk3pro">
                            .seo-pages-mk3pro {
                                -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                flex-shrink: 0;
                                -webkit-box-flex: 1;
                                -webkit-flex-grow: 1;
                                -ms-flex-positive: 1;
                                flex-grow: 1;
                                padding-left: 10px;
                                padding-right: 10px;
                                display: none;
                            }

                            @media (min-width: 768px) {
                                .seo-pages-mk3pro {
                                    display:initial;
                                    -webkit-flex-basis: 100%;
                                    -ms-flex-preferred-size: 100%;
                                    flex-basis: 100%;
                                    max-width: 100%;
                                }
                            }
                        </style>
                        <div class="seo-pages-mk3pro e76g7ex0">
                            <style data-emotion="seo-pages 1md60lg-StyledText">
                                .seo-pages-1md60lg-StyledText {
                                    margin: 0;
                                    color: #FFFFFF;
                                    margin-bottom: 4px;
                                    font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
                                    font-size: 38px;
                                    font-weight: 900;
                                    letter-spacing: -0.2px;
                                    line-height: 44px;
                                    text-transform: none;
                                }

                                .seo-pages-1md60lg-StyledText a,.seo-pages-1md60lg-StyledText button {
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: inherit;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: inherit;
                                    vertical-align: inherit;
                                }

                                @media (min-width: 768px) {
                                    .seo-pages-1md60lg-StyledText {
                                        font-family:RlFreight, HoeflerText-Black, Times New Roman, serif;
                                        font-size: 51px;
                                        font-weight: 900;
                                        letter-spacing: -0.5px;
                                        line-height: 56px;
                                        text-transform: none;
                                    }
                                }

                                @media (min-width: 992px) {
                                    .seo-pages-1md60lg-StyledText {
                                        font-family:RlFreight, HoeflerText-Black, Times New Roman, serif;
                                        font-size: 90px;
                                        font-weight: 900;
                                        letter-spacing: -1px;
                                        line-height: 90px;
                                        text-transform: none;
                                    }
                                }
                            </style>
                            
                            <style data-emotion="seo-pages 1y3p19i">
                                .seo-pages-1y3p19i {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                }

                                @media (min-width: 768px) {
                                    .seo-pages-1y3p19i {
                                        width:70%;
                                    }
                                }

                                @media (min-width: 992px) {
                                    .seo-pages-1y3p19i {
                                        width:55%;
                                    }
                                }
                            </style>
                            <div class="seo-pages-1y3p19i e16c753r0">
                                <style data-emotion="seo-pages 17kapc7-StyledText">
                                    .seo-pages-17kapc7-StyledText {
                                        margin: 0;
                                        color: #FFFFFF;
                                        margin-bottom: 12px;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 900;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        text-transform: none;
                                    }

                                    .seo-pages-17kapc7-StyledText a,.seo-pages-17kapc7-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    @media (min-width: 768px) {
                                        .seo-pages-17kapc7-StyledText {
                                            margin-top:16px;
                                        }
                                    }
                                </style>
                                <div [innerHTML]="data?.header??''"></div>
                                <!-- <h2 class="seo-pages-1md60lg-StyledText" uid="3f81299d-7100-4033-8c0b-9dd4573eb035">Meets the team</h2>
                                <p class="seo-pages-17kapc7-StyledText" uid="ec307b44-2f96-4081-9300-4fee9476f055">Get to know the people behind the wheel of the world's largest car sharing marketplace</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style data-emotion="seo-pages 12odiic">
                .seo-pages-12odiic {
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 100%;
                }

                @media (min-width: 768px) {
                    .seo-pages-12odiic {
                        margin-left:auto;
                        margin-right: auto;
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 750px;
                    }
                }

                @media (min-width: 992px) {
                    .seo-pages-12odiic {
                        padding-left:0;
                        padding-right: 0;
                        width: 940px;
                    }
                }

                @media (min-width: 1200px) {
                    .seo-pages-12odiic {
                        width:940px;
                    }
                }
            </style>
            <div class="seo-pages-12odiic e1u7lfr20">
                <div class="efavf900 seo-pages-jzu26b e1yh22tr0" data-testid="row">
                    <style data-emotion="seo-pages 1pkzd0w">
                        .seo-pages-1pkzd0w {
                            -webkit-flex-shrink: 0;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                            padding-left: 10px;
                            padding-right: 10px;
                            display: initial;
                        }

                        @media (min-width: 768px) {
                            .seo-pages-1pkzd0w {
                                display:none;
                            }
                        }

                        @media (min-width: 992px) {
                            .seo-pages-1pkzd0w {
                                display:none;
                            }
                        }

                        @media (min-width: 1200px) {
                            .seo-pages-1pkzd0w {
                                display:none;
                            }
                        }
                    </style>
                    <div class="seo-pages-1pkzd0w e76g7ex0">
                        <style data-emotion="seo-pages 1toibrp-StyledText">
                            .seo-pages-1toibrp-StyledText {
                                margin: 0;
                                color: #121214;
                                margin-bottom: 8px;
                                margin-top: 16px;
                                font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
                                font-size: 38px;
                                font-weight: 900;
                                letter-spacing: -0.2px;
                                line-height: 44px;
                                text-transform: none;
                            }

                            .seo-pages-1toibrp-StyledText a,.seo-pages-1toibrp-StyledText button {
                                font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                font-size: inherit;
                                font-weight: 500;
                                letter-spacing: 0;
                                line-height: inherit;
                                vertical-align: inherit;
                            }
                        </style>
                        <h1 class="seo-pages-1toibrp-StyledText" uid="637c7f58-fbe7-45ab-b7ad-22ecf97c04a5">Meet the team1</h1>
                        <style data-emotion="seo-pages 1ue5uyt">
                            .seo-pages-1ue5uyt {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                padding-right: 8px;
                                width: 80%;
                            }
                        </style>
                        <div class="seo-pages-1ue5uyt e16c753r0">
                            <style data-emotion="seo-pages 1kv227m-StyledText">
                                .seo-pages-1kv227m-StyledText {
                                    margin: 0;
                                    color: #121214;
                                    margin-bottom: 16px;
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    letter-spacing: 0;
                                    line-height: 22px;
                                    text-transform: none;
                                }

                                .seo-pages-1kv227m-StyledText a,.seo-pages-1kv227m-StyledText button {
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: inherit;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: inherit;
                                    vertical-align: inherit;
                                }

                                @media (min-width: 768px) {
                                    .seo-pages-1kv227m-StyledText {
                                        line-height:24px;
                                    }
                                }
                            </style>
                            <h5 class="seo-pages-1kv227m-StyledText" uid="fbbdde3e-59c6-47e2-a5e9-2902a72bdc93">Get to know the people behind the world's largest peer-to-peer car sharing marketplace.</h5>
                        </div>
                    </div>
                </div>
                <style data-emotion="seo-pages 136wc1n">
                    .seo-pages-136wc1n {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        padding-top: 56px;
                    }
                </style>
                <div class="seo-pages-136wc1n e16c753r0">
                    <style data-emotion="seo-pages 1qslx4t-StyledText">
                        .seo-pages-1qslx4t-StyledText {
                            margin: 0;
                            color: #121214;
                            margin-bottom: 16px;
                            font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
                            font-size: 38px;
                            font-weight: 900;
                            letter-spacing: -0.2px;
                            line-height: 44px;
                            text-transform: none;
                        }

                        .seo-pages-1qslx4t-StyledText a,.seo-pages-1qslx4t-StyledText button {
                            font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                            font-size: inherit;
                            font-weight: 500;
                            letter-spacing: 0;
                            line-height: inherit;
                            vertical-align: inherit;
                        }

                        @media (min-width: 768px) {
                            .seo-pages-1qslx4t-StyledText {
                                margin-bottom:48px;
                            }
                        }

                        @media (min-width: 768px) {
                            .seo-pages-1qslx4t-StyledText {
                                font-family:RlFreight, HoeflerText-Black, Times New Roman, serif;
                                font-size: 51px;
                                font-weight: 900;
                                letter-spacing: -0.5px;
                                line-height: 56px;
                                text-transform: none;
                            }
                        }
                    </style>
                    <h3 class="seo-pages-1qslx4t-StyledText" uid="a75916b4-59a8-4555-9579-dff9d7a93cde">Leadership</h3>
                </div>
                <style data-emotion="seo-pages clqabn">
                    .seo-pages-clqabn {
                        margin-bottom: 56px;
                    }

                    @media (min-width: 992px) {
                        .seo-pages-clqabn {
                            margin-bottom:88px;
                        }
                    }
                </style>
                <div id="team-grid" class="seo-pages-clqabn e1j7pl790">
                    <style data-emotion="seo-pages 1tqlkmr">
                        .seo-pages-1tqlkmr {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-row-gap: 16px;
                            grid-column-gap: 16px;
                        }

                        @media (min-width: 768px) {
                            .seo-pages-1tqlkmr {
                                grid-template-columns:repeat(3, 1fr);
                                grid-row-gap: 40px;
                                grid-column-gap: 40px;
                            }
                        }

                        @media (min-width: 992px) {
                            .seo-pages-1tqlkmr {
                                grid-template-columns:repeat(4, 1fr);
                                grid-row-gap: 24px;
                                grid-column-gap: 24px;
                            }
                        }
                    </style>
                    <div class="seo-pages-1tqlkmr e10jor8k2">
                        <style data-emotion="seo-pages fynvu-StyledCard">
                            .seo-pages-fynvu-StyledCard {
                                -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                border: 1px solid #E7E7E8;
                                border-radius: 8px;
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                padding: 16px 4px 0;
                                width: 131px;
                                -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                            }

                            @media (min-width: 480px) {
                                .seo-pages-fynvu-StyledCard {
                                    width:216px;
                                    padding: 16px;
                                }
                            }

                            .seo-pages-fynvu-StyledCard:hover {
                                border: solid 1px #593CFB;
                                cursor: pointer;
                            }

                            .seo-pages-fynvu-StyledCard:hover .styledHeadshotWrapper:after {
                                opacity: 0.8;
                            }

                            .seo-pages-fynvu-StyledCard:hover .styledHeadshotText {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                left: 50%;
                                position: absolute;
                                top: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                -moz-transform: translate(-50%, -50%);
                                -ms-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                z-index: 100;
                            }
                        </style>
                        <div class="seo-pages-fynvu-StyledCard e18k58aj9">
                            <style data-emotion="seo-pages 1rzsemh-StyledHeadshotWrapper">
                                .seo-pages-1rzsemh-StyledHeadshotWrapper {
                                    display: inline-block;
                                    position: relative;
                                    -webkit-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                }

                                .seo-pages-1rzsemh-StyledHeadshotWrapper:after {
                                    content: "";
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 103px;
                                    display: block;
                                    position: absolute;
                                    background: #593CFB;
                                    opacity: 0;
                                    border-radius: 50%;
                                }

                                @media (min-width: 480px) {
                                    .seo-pages-1rzsemh-StyledHeadshotWrapper:after {
                                        height:185px;
                                    }
                                }
                            </style>
                            <div class="styledHeadshotWrapper seo-pages-1rzsemh-StyledHeadshotWrapper e18k58aj8">
                                <style data-emotion="seo-pages ufazdu-StyledHeadshot">
                                    .seo-pages-ufazdu-StyledHeadshot {
                                        border-radius: 50%;
                                        width: 103px;
                                    }

                                    @media (min-width: 480px) {
                                        .seo-pages-ufazdu-StyledHeadshot {
                                            width:185px;
                                        }
                                    }
                                </style>
                                <style data-emotion="seo-pages 1e3txu3-StyledImage-StyledHeadshot">
                                    .seo-pages-1e3txu3-StyledImage-StyledHeadshot {
                                        max-width: 100%;
                                        border-radius: 50%;
                                        width: 103px;
                                    }

                                    @media (min-width: 480px) {
                                        .seo-pages-1e3txu3-StyledImage-StyledHeadshot {
                                            width:185px;
                                        }
                                    }
                                </style>
                                <img alt="Andre Haddad" src="data:image/svg+xml,%3Csvg xmlns=&#x27;http://www.w3.org/2000/svg&#x27; viewBox=&#x27;0 0 0 0 &#x27;%3E%3Crect width=&#x27;100%25&#x27; height=&#x27;100%25&#x27; fill=&#x27;%23F4F4F4&#x27; /%3E%3C/svg%3E" class="e18k58aj7 seo-pages-1e3txu3-StyledImage-StyledHeadshot e3dl1lq0"/>
                                <style data-emotion="seo-pages 48f5jp-StyledHeadshotText">
                                    .seo-pages-48f5jp-StyledHeadshotText {
                                        display: none;
                                    }
                                </style>
                                <style data-emotion="seo-pages ozaapa-StyledText 6c3rzt-StyledText-StyledHeadshotText">
                                    .seo-pages-ozaapa-StyledText {
                                        margin: 0;
                                        color: #FFFFFF;
                                        margin-bottom: 0;
                                        margin-top: 0;
                                        text-align: center;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 12px;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: 16px;
                                        text-transform: none;
                                    }

                                    .seo-pages-ozaapa-StyledText a,.seo-pages-ozaapa-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    @media (min-width: 768px) {
                                        .seo-pages-ozaapa-StyledText {
                                            font-family:RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                            font-size: 18px;
                                            font-weight: 700;
                                            letter-spacing: 0.3px;
                                            line-height: 24px;
                                            text-transform: none;
                                        }
                                    }

                                    .seo-pages-6c3rzt-StyledText-StyledHeadshotText {
                                        margin: 0;
                                        color: #FFFFFF;
                                        margin-bottom: 0;
                                        margin-top: 0;
                                        text-align: center;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 12px;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: 16px;
                                        text-transform: none;
                                        display: none;
                                    }

                                    .seo-pages-6c3rzt-StyledText-StyledHeadshotText a,.seo-pages-6c3rzt-StyledText-StyledHeadshotText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    @media (min-width: 768px) {
                                        .seo-pages-6c3rzt-StyledText-StyledHeadshotText {
                                            font-family:RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                            font-size: 18px;
                                            font-weight: 700;
                                            letter-spacing: 0.3px;
                                            line-height: 24px;
                                            text-transform: none;
                                        }
                                    }
                                </style>
                                <p class="styledHeadshotText e18k58aj6 seo-pages-6c3rzt-StyledText-StyledHeadshotText">Read bio</p>
                            </div>
                            <style data-emotion="seo-pages e6bxgq-StyledText">
                                .seo-pages-e6bxgq-StyledText {
                                    margin: 0;
                                    color: #121214;
                                    margin-bottom: 8px;
                                    margin-top: 12px;
                                    text-align: center;
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: 12px;
                                    font-weight: 900;
                                    letter-spacing: 0.5px;
                                    line-height: 16px;
                                    text-transform: uppercase;
                                }

                                .seo-pages-e6bxgq-StyledText a,.seo-pages-e6bxgq-StyledText button {
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: inherit;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: inherit;
                                    vertical-align: inherit;
                                }

                                @media (min-width: 768px) {
                                    .seo-pages-e6bxgq-StyledText {
                                        font-family:RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 900;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        text-transform: none;
                                    }
                                }
                            </style>
                            <p class="seo-pages-e6bxgq-StyledText">ANDRE HADDAD</p>
                            <style data-emotion="seo-pages 1obfgsc-StyledText">
                                .seo-pages-1obfgsc-StyledText {
                                    margin: 0;
                                    color: #121214;
                                    margin-bottom: 12px;
                                    text-align: center;
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: 12px;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: 16px;
                                    text-transform: none;
                                }

                                .seo-pages-1obfgsc-StyledText a,.seo-pages-1obfgsc-StyledText button {
                                    font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                    font-size: inherit;
                                    font-weight: 500;
                                    letter-spacing: 0;
                                    line-height: inherit;
                                    vertical-align: inherit;
                                }
                            </style>
                            <p class="seo-pages-1obfgsc-StyledText">Chief Executive Officer</p>
                        </div>
                        
                    </div>
                </div>
                <style data-emotion="seo-pages 1xfgq7t">
                    .seo-pages-1xfgq7t {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                    }
                </style>
                <div class="seo-pages-1xfgq7t e16c753r0">
                    <h3 class="seo-pages-1qslx4t-StyledText" uid="32842d0c-cb0b-4a35-a219-28f611585130">Board of Directors</h3>
                </div>
                <style data-emotion="seo-pages 1s366pa">
                    .seo-pages-1s366pa {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-bottom: 56px;
                    }
                </style>
                <div class="seo-pages-1s366pa e16c753r0">
                    <style data-emotion="seo-pages d15va7">
                        .seo-pages-d15va7 {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-row-gap: 16px;
                            grid-column-gap: 24px;
                        }

                        @media (min-width: 768px) {
                            .seo-pages-d15va7 {
                                grid-template-columns:repeat(3, 1fr);
                                grid-row-gap: 40px;
                                grid-column-gap: 40px;
                            }
                        }

                        @media (min-width: 992px) {
                            .seo-pages-d15va7 {
                                grid-template-columns:repeat(4, 1fr);
                                grid-row-gap: 24px;
                                grid-column-gap: 24px;
                            }
                        }
                    </style>
                    <div class="seo-pages-d15va7 e10jor8k2">
                        <div class="seo-pages-18i2s0a e1j7pl790">
                            <div class="seo-pages-18i2s0a e1j7pl790">
                                <style data-emotion="seo-pages tfbwun-StyledText">
                                    .seo-pages-tfbwun-StyledText {
                                        margin: 0;
                                        color: #121214;
                                        margin-bottom: 24px;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 900;
                                        letter-spacing: 0;
                                        line-height: 20px;
                                        text-transform: none;
                                    }

                                    .seo-pages-tfbwun-StyledText a,.seo-pages-tfbwun-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }
                                </style>
                                <h4 class="seo-pages-tfbwun-StyledText" uid="a5903610-cd65-4d92-8b67-778778947f13">ANDRE HADDAD</h4>
                                <style data-emotion="seo-pages bt8xls-StyledText">
                                    .seo-pages-bt8xls-StyledText {
                                        margin: 0;
                                        color: #121214;
                                        margin-bottom: 4px;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 12px;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: 16px;
                                        text-transform: none;
                                    }

                                    .seo-pages-bt8xls-StyledText a,.seo-pages-bt8xls-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }
                                </style>
                                <p class="seo-pages-bt8xls-StyledText" uid="31b066c1-5fbe-4bb9-92d8-7c41422edc46">Chief Executive Officer &Chairperson</p>
                                <style data-emotion="seo-pages 1ty3hiz-StyledText">
                                    .seo-pages-1ty3hiz-StyledText {
                                        margin: 0;
                                        color: #593CFB;
                                        margin-bottom: 0;
                                        cursor: pointer;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 12px;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: 16px;
                                        text-transform: none;
                                    }

                                    .seo-pages-1ty3hiz-StyledText a,.seo-pages-1ty3hiz-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    .seo-pages-1ty3hiz-StyledText:hover {
                                        color: #470AB4;
                                    }
                                </style>
                                <a class="seo-pages-1ty3hiz-StyledText" uid="c3189e62-05db-4b47-b9ee-c693cb59df5a">Read bio</a>
                            </div>
                        </div>
                        <div class="seo-pages-18i2s0a e1j7pl790">
                            <div class="seo-pages-18i2s0a e1j7pl790">
                                <h4 class="seo-pages-tfbwun-StyledText" uid="2c0dd2cd-622f-405d-93a3-ce6b351d5b9b">HOWARD HARTENBAUM</h4>
                                <p class="seo-pages-bt8xls-StyledText" uid="d723768a-597b-43fe-b760-3842c009dd84">Director</p>
                                <a class="seo-pages-1ty3hiz-StyledText" uid="4d07ee08-cf19-4727-a407-65ac5c5766cc">Read bio</a>
                            </div>
                        </div>
                        <div class="seo-pages-18i2s0a e1j7pl790">
                            <div class="seo-pages-18i2s0a e1j7pl790">
                                <h4 class="seo-pages-tfbwun-StyledText" uid="448f1317-b2a9-4a39-be62-5d0fbc552400">KIMBERLY JABAL</h4>
                                <p class="seo-pages-bt8xls-StyledText" uid="c0302aef-7592-46ef-8d78-69d40ff91992">Lead Independent Director</p>
                                <a class="seo-pages-1ty3hiz-StyledText" uid="c714742a-ae74-4ba1-9969-8e205f92f911">Read bio</a>
                            </div>
                        </div>
                    </div>
                </div>
                <style data-emotion="seo-pages 1rmbfjd">
                    .seo-pages-1rmbfjd {
                        background-image: url('//resources.turo.com/f/81934/1027x240/b39555948b/jobs-banner-l.png');
                        -webkit-background-position: 0 0;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                        -webkit-background-size: cover;
                        background-size: cover;
                    }

                    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),only screen and (min--moz-device-pixel-ratio: 1.3),only screen and (-o-min-device-pixel-ratio: 1.3/1),only screen and (min-resolution: 125dpi),only screen and (min-resolution: 1.3dppx) {
                        .seo-pages-1rmbfjd {
                            background-image:url('//resources.turo.com/f/81934/2054x480/c9dacad75d/jobs-banner-l-2x.png');
                        }
                    }
                </style>
                <div type="image" class="seo-pages-1rmbfjd e1c648280">
                    <style data-emotion="seo-pages xi2qma">
                        .seo-pages-xi2qma {
                            margin-bottom: 48px;
                            padding-right: 50px;
                            padding-left: 50px;
                            width: 100%;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            height: 240px;
                        }

                        @media (min-width: 768px) {
                            .seo-pages-xi2qma {
                                margin-bottom:88px;
                            }
                        }
                    </style>
                    <div class="seo-pages-xi2qma e1j7pl790">
                        <style data-emotion="seo-pages 1s83uaf">
                            .seo-pages-1s83uaf {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                position: relative;
                                width: 100%;
                                -webkit-box-pack: center;
                                -ms-flex-pack: center;
                                -webkit-justify-content: center;
                                justify-content: center;
                                -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                            }

                            @media (min-width: 768px) {
                                .seo-pages-1s83uaf {
                                    -webkit-flex-direction:row;
                                    -ms-flex-direction: row;
                                    flex-direction: row;
                                    -webkit-box-pack: justify;
                                    -webkit-justify-content: space-between;
                                    justify-content: space-between;
                                }
                            }
                        </style>
                        <div class="seo-pages-1s83uaf e1vb3c880" direction="column" width="100">
                            <style data-emotion="seo-pages 1ilfgeg">
                                .seo-pages-1ilfgeg {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                    position: relative;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    -webkit-justify-content: center;
                                    justify-content: center;
                                    -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                }
                            </style>
                            <div class="seo-pages-1ilfgeg e1vb3c880" direction="column">
                                <style data-emotion="seo-pages vvs2ob-StyledText">
                                    .seo-pages-vvs2ob-StyledText {
                                        margin: 0;
                                        color: #121214;
                                        margin-bottom: 8px;
                                        text-align: center;
                                        font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
                                        font-size: 38px;
                                        font-weight: 900;
                                        letter-spacing: -0.2px;
                                        line-height: 44px;
                                        text-transform: none;
                                    }

                                    .seo-pages-vvs2ob-StyledText a,.seo-pages-vvs2ob-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    @media (min-width: 768px) {
                                        .seo-pages-vvs2ob-StyledText {
                                            font-family:RlFreight, HoeflerText-Black, Times New Roman, serif;
                                            font-size: 51px;
                                            font-weight: 900;
                                            letter-spacing: -0.5px;
                                            line-height: 56px;
                                            text-transform: none;
                                        }
                                    }
                                </style>
                                <h3 class="seo-pages-vvs2ob-StyledText" uid="e3a79874-9cdc-42f1-b8a1-c4a13d3fc477">Join the team</h3>
                                <style data-emotion="seo-pages 1pzvdny-StyledText">
                                    .seo-pages-1pzvdny-StyledText {
                                        margin: 0;
                                        color: #121214;
                                        margin-bottom: 12px;
                                        text-align: center;
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        letter-spacing: 0;
                                        line-height: 22px;
                                        text-transform: none;
                                    }

                                    .seo-pages-1pzvdny-StyledText a,.seo-pages-1pzvdny-StyledText button {
                                        font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
                                        font-size: inherit;
                                        font-weight: 500;
                                        letter-spacing: 0;
                                        line-height: inherit;
                                        vertical-align: inherit;
                                    }

                                    @media (min-width: 768px) {
                                        .seo-pages-1pzvdny-StyledText {
                                            line-height:24px;
                                        }
                                    }
                                </style>
                                <p class="seo-pages-1pzvdny-StyledText" uid="a659c8fc-3af8-4adb-bfb6-278b16153853">Help put the world's 1.5 billion cars to better use</p>
                            </div>
                            <div class="seo-pages-18i2s0a e1j7pl790">
                                <style data-emotion="seo-pages 1uz1lkt">
                                    .seo-pages-1uz1lkt {
                                        display: inline-block;
                                        height: 50px;
                                        line-height: 49px;
                                        padding: 0 18px;
                                        text-align: center;
                                        vertical-align: top;
                                        background-color: #593CFB;
                                        border: 1px solid #593CFB;
                                        color: #FFFFFF;
                                        font-size: 18px;
                                        -webkit-transition: 0.5s border,0.5s background;
                                        transition: 0.5s border,0.5s background;
                                    }

                                    .seo-pages-1uz1lkt:hover {
                                        background-color: #470AB4;
                                        border-color: #470AB4;
                                        -webkit-text-decoration: none;
                                        text-decoration: none;
                                    }
                                </style>
                                <a href="/us/en/" rel="nofollow" class="seo-pages-1uz1lkt e16l5yh30">See all positions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style data-emotion="seo-pages thy8ee">
            .seo-pages-thy8ee {
                background-color: #F4F4F4;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
            }
        </style>
       