/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Darker+Grotesque:wght@400;500;600;700&family=Goldman&family=Lato:wght@300;400;700;900&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500&family=Raleway:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

$heading-family: 'DM Serif Display', serif;
$subheading-family: 'Ubuntu', sans-serif;
$body-family: 'Poppins', sans-serif;
// font-family: 'Libre Baskerville', serif;

$theme-blue: #ff2e17;

a,
img {
    display: block;
}

@media (min-width: 1400px) {
    .container {
        max-width: 93%;
    }
}

@media (min-width: 1200px) {
    .fs-1 {
        font-size: 3rem !important;
    }
}

// font-family: 'Darker Grotesque', sans-serif;
// font-family: 'Goldman', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu', sans-serif;

.font-family-1 {
    font-family: 'DM Serif Display', serif !important;
}


body {
    font-family: $body-family;
    color: #121214;
    background-image: url(../src/assets/images/illustration-hero.png);
    font-weight: 500;
    font-size: 15px;
}


p {
    font-weight: 400;
    line-height: 30px;
}

ul {
    padding: 0;

    li {
        list-style-type: none;
    }
}

/*================================================
1 - Fonts
==================================================*/

.text-red {
    color: $theme-blue;
}

/*================================================
1 - buttons
==================================================*/
.button-blue {
    background: $theme-blue;
    border-color: $theme-blue;
}

.button-blue-border {
    border-color: $theme-blue !important;
    color: $theme-blue !important;
}

$color_1: #555;
$color_2: #4e65ff;

.navigation {

    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 60px;
    background: #fff;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
    z-index: 9;
    width: 300px;


    .menuToggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: #555;
            transform: translateY(-10px);
            box-shadow: 0 10px #555;
            transition: 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 2px;
            background: #555;
            transform: translateY(10px);
            transition: 0.5s;
        }
    }
}

.navigation.active {
    height: max-content;

    .userBx {
        width: calc(100% - 60px);
        transition-delay: 0s;
    }

    .menuToggle {
        &::before {
            transform: translateY(0px) rotate(45deg);
            box-shadow: 0 0 #555;
        }

        &::after {
            transform: translateY(0px) rotate(-45deg);
        }
    }
}

.menu {
    width: 100%;
    margin: 0;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    li {
        list-style: none;

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 20px 0;
            font-size: 1em;
            text-decoration: none;
            color: $color_1;

            &:hover {
                color: $color_2;
            }

            ion-icon {
                font-size: 1.5em;
            }
        }
    }
}

/*================================================
1 - headings
==================================================*/
.heading {
    font-family: $heading-family;
    font-size: 6em;
}

.subheading {
    font-family: $subheading-family;
    line-height: 1.2;
}

.section-heading {
    font-family: $heading-family;
    font-size: 4em;
}

.section-subheading {
    font-family: $subheading-family;
    font-size: 2em;
}


.bg-image {
    height: 70vh;


    .mask {
        background-color: #0000002b;
    }
}

.carousel-item {
    img {
        height: 100%;
        object-fit: cover;
        background-position: center;
    }

    .container {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        margin: auto;
        left: 0;

    }
}

article {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(35, 31, 32, 0.2), 0 0 1px 0 rgba(35, 31, 32, 0.1);
    color: #231F20;
    flex: 1 0 auto;
    margin: 0 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.owl-carousel {


    .owl-item {
        padding: 10px 5px;

    }
}

/*================================================
14 - PROMO AREA CSS
==================================================*/

.gauto-promo-area {
    position: relative;
    background: url(../src/assets/images/cars.avif) no-repeat fixed 0 0/cover;
    z-index: 1;
    margin-top: 100px;
}

.gauto-promo-area:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    z-index: -1;
}

.promo-box-left {
    position: relative;
    z-index: 1;
    padding-top: 150px;
    padding-bottom: 150px;

    img {
        max-width: 500px;
    }
}

.promo-box-right {
    padding: 72px 0
}

.promo-box-left:after {
    position: absolute;
    background: $theme-blue none repeat scroll 0 0;
    content: "";
    top: 0;
    right: 55%;
    width: 2030px;
    height: 100%;
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    z-index: -1;
}

.promo-box-left:before {
    position: absolute;
    background: #fff none repeat scroll 0 0;
    content: "";
    top: 0;
    right: 43%;
    width: 70px;
    height: 100%;
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    z-index: -1;
}

.promo-box-right h3 {
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 15px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: inline-block;
    text-transform: capitalize;
    font-family: $heading-family;
    font-weight: 600;
    line-height: 50px;
}

/*================================================
12 - ABOUT AREA CSS
==================================================*/
.about-area {
    background: white;
    margin-top: 100px;
    padding: 100px 0;
}

.about-left h4 {
    font-size: 20px;
    color: $theme-blue;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Rubik", sans-serif
}


.about-list ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    padding: 0;
    margin-top: 10px;
}

.about-list ul li {
    margin: 5px 0;
    list-style-type: none;
    margin-bottom: 20px;
}


.about-list ul li i {
    margin-right: 7px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    background: $theme-blue none repeat scroll 0 0;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
}

.about-right {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.caption {
    color: black;
}

.browsebymake {
    img {
        height: 180px;
        object-fit: cover;
        width: 100%;
    }
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: none;
    border: none;
}

/*================================================
20 - FOOTER AREA CSS
==================================================*/
$color_1: #3788db;
$font-family_1: Goldman, cursive;

.footer-top-area {
    padding: 50px 0;
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f4f4f4;
        z-index: -1;
    }
}

.single-footer {
    clear: both;

    h3 {
        font-size: 17px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        -webkit-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
        display: block;
        text-transform: uppercase;
        font-family: $font-family_1;
        font-weight: 600;
        position: relative;
        color: #ff2e17;
    }

    >h3 {
        &:after {
            position: absolute;
            content: "";
            bottom: -13px;
            width: 18%;
            height: 2px;
            background: #3788db;
            left: 0;
        }
    }
}

.quick-links {
    width: 45%;

    a {
        color: #231F20;
    }
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-address {
    margin-top: 30px;

    h3 {
        font-size: 17px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        -webkit-transition: all .4s ease 0s;
        transition: all .4s ease 0s;
        display: block;
        text-transform: uppercase;
        font-family: $font-family_1;
        font-weight: 600;
        position: relative;

        &:after {
            position: absolute;
            content: "";
            bottom: -13px;
            width: 18%;
            height: 2px;
            background: #3788db;
            left: 0;
        }

    }
}

.quick_links {
    overflow: hidden;
}

.newsletter_box {
    form {
        width: 230px;
        height: 40px;
        background: #f4f4f4;
        position: relative;
        border-radius: 5px;
        border: thin solid $color_1;

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #f4f4f4;
            height: 100%;
            border: medium none;
            padding: 5px 10px;
            border-radius: 5px;
        }

        button {
            position: absolute;
            border: medium none;
            background: 0 0;
            right: 10px;
            height: 100%;
            color: $color_1;
            cursor: pointer;
        }
    }
}

.footer-bottom-area {
    padding: 20px 0;
    background: #f4f4f4;
    border-top: 1px solid #333;
}

.copyright {
    p {
        text-transform: capitalize;

        i {
            color: $color_1;
            margin: 0 2px;
        }
    }
}

.footer-social {
    ul {
        text-align: right;

        li {
            display: inline-block;
            margin-left: 10px;

            a {
                display: block;
            }
        }
    }
}

.floaty-text {
    position: relative;

    .row {
        max-width: 1000px;
        margin: auto;
        position: relative;

        .text-block {
            max-width: 360px;
            padding: 32px 24px;
            width: 944px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: white;
        }

        img {
            max-width: 800px;
            max-height: 496px;
            margin-left: auto;
            display: block;
        }
    }

}

.right-hand-text {
    .row {
        max-width: unset;

        .text-block {
            left: unset !important;
            right: 0 !important;
        }

        img {
            margin-right: auto !important;
            margin-left: unset !important;
        }
    }
}



.post-content {
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;

    .post-text {
        color: black;
        text-align: left;
    }

    .post-image {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
        }

        img {
            width: 100%;
            max-width: 362px;
            height: 180px;
            border-radius: 5px;
        }
    }
}


////////////////////
$color_1: white;
$font-family_1: Open-sans, sans-serif;
$font-family_2: Raleway, Helvetica, sans-serif;

.card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background-size: cover !important;
    color: $color_1;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;

    .card-user {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .card-description {
        position: absolute;
        bottom: 10px;
        left: 10px;

        h2 {
            font-size: 22px;
        }

        p {
            font-size: 15px;
        }
    }

    .card-link {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        background: black;
        opacity: 0;

        &:hover {
            opacity: 0.1;
        }
    }

    .features {
        img {
            width: 100px;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            font-size: 15px;
            font-weight: lighter;
        }
    }

}

.hosts {

    background-image: url(../src/assets/images/Vector7.png);
    background-position: 43% center;
    background-repeat: no-repeat;
    background-size: 45%;
    padding-bottom: 100px;
    margin-bottom: 55px;

}

.movingcar {
    height: 322px;
    object-fit: cover;
    object-position: bottom;
    margin-top: -30px;
}


.faq {
    .accordion-item {
        border-left: 0;
        border-right: 0;

        .accordion-button {
            color: #121214;
        }
    }
}

.carbon-free-drive {
    padding-top: 200px;

    .right-column {
        position: relative;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background: #f4f4f4;
            right: 200px;
            top: -101px;
            z-index: -1;
        }

        .section-heading {
            font-size: 6em;
            transform: translateX(-147px);
        }

        p {

            mix-blend-mode: difference;
            margin-left: -100px;
            color: white;
            font-size: 2em;

        }
    }
}


.productcards img {
    height: 200px !important;
    object-fit: cover;
}



// for filter search bar

.mat-mdc-form-field-subscript-wrapper,
.mdc-line-ripple {
    display: none;
}

.mdc-text-field--filled {
    background-color: white !important;
}


.car-category {
    .search-bar {
        position: static !important;
    }

    img {
        width: 100%;
    }
}

.ripple-surface{
    min-width: unset !important;
}

.thumbnail {
    img {
        max-width: 100%;
        height: 180px;
        object-fit: cover;
        width: 100%;
    }
}