<article class="thumbnail item  text-start" (click)="clickingCard()" *ngIf="cardsData">
    <ng-container>
        
            <img src="data:{{this.cardsData.images[0].contentType}};base64, {{this.cardsData.images[0].imageBase64}}" class="img-fluid">

            <div class="px-3">
                <div class="caption text-dark fw-bolder my-3">
                    {{cardsData.vehicle.make}} {{cardsData.vehicle.model}}
                </div>
                <span class="text-dark">
                    {{cardsData.vehicle.rating}}
                </span>
                <span class="">
                    ({{cardsData.vehicle.tripcount}} trips)
                </span>
                <hr class="my-2">
                <div class="price mb-2 text-dark">${{cardsData.vehicle.price}}/day</div>
            </div>
       
    </ng-container>

</article>