<article class="thumbnail item  text-start" (click)="clickingCard()" *ngIf="cardsData">
    <ng-container>

        <img src="data:{{this.cardsData.images[0].contentType}};base64, {{this.cardsData.images[0].imageBase64}}"
            class="img-fluid">

        <div class="px-3">
            <div class="caption text-dark fw-bolder my-3">
                {{cardsData.vehicle.make}} {{cardsData.vehicle.model}}
            </div>
            <span class="text-dark">
                {{cardsData.vehicle.rating}}
            </span>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="d-flex align-items-center">

                            <p class="mb-0">5.0</p>

                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="none"
                                viewBox="0 0 16 16" aria-label="Rating: 5 out of 5 stars" role="img" version="1.1">
                                <path fill="#121214" fill-rule="evenodd"
                                    d="m10.102 5.665 3.937.274c.603.042.85.797.388 1.188l-3.013 2.557.918 3.814a.674.674 0 0 1-1.01.732L8 12.167 4.678 14.23a.674.674 0 0 1-1.01-.732l.92-3.814-3.012-2.552a.675.675 0 0 1 .38-1.191l3.937-.276 1.484-3.582a.673.673 0 0 1 1.244 0l1.48 3.582Z"
                                    clip-rule="evenodd"></path>
                            </svg>

                            <p class="mx-2 mb-0">(97 trips)</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="none"
                                viewBox="0 0 24 24" aria-label="All-Star Host" aria-labelledby="allStarHostLabel"
                                class="" role="img" version="1.1">
                                <path fill="#121214" fill-rule="evenodd"
                                    d="m19.585 13.072 2.257 2.76a.7.7 0 0 1-.404 1.128l-2.871.575-1.18 3.538a.698.698 0 0 1-.664.478.7.7 0 0 1-.593-.326l-2.376-3.771a.554.554 0 0 1 .294-.826 8.623 8.623 0 0 0 4.649-3.525c.201-.31.655-.315.888-.03Zm-15.169 0c.234-.284.688-.278.889.03a8.62 8.62 0 0 0 4.648 3.526c.345.108.487.52.294.826l-2.376 3.77a.703.703 0 0 1-1.258-.151l-1.18-3.538-2.87-.574a.698.698 0 0 1-.404-1.13l2.257-2.758Zm11.242-5.249-1.715 1.455.522 2.171a.383.383 0 0 1-.574.417l-1.89-1.174-1.89 1.173a.383.383 0 0 1-.576-.417l.524-2.17-1.714-1.451a.384.384 0 0 1 .215-.678l2.242-.157.843-2.039a.383.383 0 0 1 .709 0l.843 2.039 2.24.155a.384.384 0 0 1 .22.676ZM12 2a6.667 6.667 0 1 0 .001 13.334 6.667 6.667 0 0 0 0-13.334Z"
                                    clip-rule="evenodd"></path>
                            </svg>

                            <p class="mb-0">All-Star Host</p>

                        </div>

                    </div>
                </div>
            </div>
            <hr class="my-2">
            <div class="price mb-2 text-dark">{{cardsData.vehicle.price}}₦/day</div>
        </div>

    </ng-container>

</article>