<article class="thumbnail item  text-start">
    <a href="#!" class="d-block">
        <img src="images/sub2.jpeg" class="img-fluid">

        <div class="px-3">
            <div class="caption text-dark fw-bolder my-3">
                Tesla Model 3 2018
            </div>
            <span class="text-dark">
                5.0
            </span>
            <span class="">
                (83 trips)
            </span>
            <span class="text-dark">
                All-Star Host
            </span>

            <hr class="my-2">
            <div class="price mb-2 text-dark">$62/day</div>
        </div>
    </a>
</article>