<div class="row">
    <div class="col mt-3 px-1">
        <div class="form-field ">
            <label for="" class="d-block">Search</label>
            <input type="text" name="search" id="search" [(ngModel)]="searchText" placeholder="search"
            (change)="getAllUsers()">
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="openUser(null)">Add
    </button>
</div>




<app-table [columns]="columns" [totalPageCount]="totalCount" [dataSource]="users"
    (paginationEventHandler)="paginationEventHandler($event)" (gridEventHandler)="gridEvent($event)"></app-table>